<?xml version="1.0"?>
<!--
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="hyva_theme_add_layout_handles" instance="Hyva\Theme\Observer\AddLayoutHandles"/>
    </event>
    <event name="load_file_layout_updates_xml_after">
        <observer name="hyva_theme_add_layout_handles_updates" instance="Hyva\Theme\Observer\AddLayoutHandlesUpdates"/>
    </event>
    <event name="catalog_controller_product_init_after">
        <observer name="hyva_theme_register_current_product" instance="Hyva\Theme\Observer\RegisterCurrentProduct"/>
    </event>
    <event name="review_controller_product_init_after">
        <observer name="hyva_theme_register_current_product" instance="Hyva\Theme\Observer\RegisterCurrentProduct"/>
    </event>
    <event name="catalog_controller_category_init_after">
        <observer name="hyva_theme_register_current_category" instance="Hyva\Theme\Observer\RegisterCurrentCategory"/>
    </event>
    <event name="hyva_config_generate_before">
        <observer name="hyva_theme" instance="Hyva\Theme\Observer\RegisterModuleForHyvaConfig"/>
    </event>
    <event name="view_block_abstract_to_html_after">
        <observer name="hyva_theme" instance="Hyva\Theme\Observer\RegisterPageJsDependencies"/>
        <observer name="hyva_theme_cache_block_tags" instance="Hyva\Theme\Observer\SaveCacheTagsForCachedBlocksDuringAjaxRequests"/>
    </event>
</config>
